<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ryan Hazzard</title>
    <!-- You MUST include jQuery before Fomantic -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/intro-arrow.css">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
</head>
<body>
    <!-- page container  -->
    <div class="ui grid container" id="page-container">
        <!-- menu row  -->
        <div class="middle aligned row">
            <div class="ui fixed menu" id="navbar-menu">
                <!-- menu inner grid  -->
                <div class="ui grid container" id="navbar-inner-grid">
                    <div class="row">
                        <!-- title and icon  -->
                        <div class="middle aligned four wide computer only  column item" id="menu-title-name">
                            Ryan Hazzard
                        </div>
                        <div class="one wide middle aligned column item">
                            <i class="big code branch icon" id="menu-title-icon"></i>
                        </div>
                        <!-- about  -->
                        <div class="middle aligned two wide computer three wide mobile column item">
                            <a class="menu-links">About</a>
                        </div>
                        <!-- projects  -->
                        <div class="middle aligned three wide computer four wide mobile column item">
                            <a class="menu-links">Projects</a>
                        </div>
                        <!-- resume  -->
                        <div class="middle aligned three wide computer three wide mobile column item">
                            <a class="menu-links">Resume</a>
                        </div>
                        <!-- contact  -->
                        <div class="middle aligned three wide computer four wide mobile column item">
                            <a class="menu-links">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle aligned row" id="landing-outer-row">
            <div class="ui middle aligned grid container">
                <div class="sixteen wide centered column" id="fade-column">
                    <h1 class="sequenced name" style="display: none;" id="landing-name">Ryan Hazzard </h1>
                    <h2 class="sequenced name" style="display: none;" id="landing-title">Full Stack Developer</h2>
                </div>
                <div class="sixteen wide column" id="landing-arrow-column">
                    <a href="#about-section">
                        <svg class="arrows" style="scroll-behavior: smooth">
                            <path class="a1" d="M0 0 L30 32 L60 0"></path>
                            <path class="a2" d="M0 20 L30 52 L60 20"></path>
                            <path class="a3" d="M0 40 L30 72 L60 40"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <!-- about section  -->
        <div class="row" id="about-section">
            <div class="ui grid container" id="about-inner-grid">
                <div class="eight wide computer sixteen wide mobile middle aligned column">
                    <img class="ui centered bordered large image" id="about-image" src="/images/about-photo.jpg">
                </div>
                <div class="eight wide computer sixteen wide mobile middle aligned centered column"
                    id="about-info-column">
                    <p id="about-section-title">About</p>
                    <div class="text" id="about-text">
                        Ryan Hazzard, 20, born in San Clemente. I am a Full-stack developer proficient with the
                        MERN stack. I am driven to becoming a better developer everyday. I care deeply about writing dry
                        code and am currently looking for a career in which I can contribute and grow as a developer.
                    </div>
                </div>
            </div>
        </div>
        <!-- projects section  -->
        <div class="row" id="project-section">
            <div class="ui centered grid container">
                <!-- title column  -->
                <div class="sixteen wide computer middle aligned column">
                    <p id="project-section-title">Projects</p>
                </div>
                <!-- vision card  -->
                <div class="five wide computer only  column">
                    <div class="ui fluid card vision" id="vision-card" >
                        <div class="image">
                            <img src="/images/vision.png">
                        </div>
                    </div>
                </div>
                <!-- vision modal  -->
                <div class="ui modal vision">
                    <i class="close icon"></i>
                    <div class="header">
                        Vision
                    </div>
                    <div class="image content">
                        <div class="image">
                            <img src="/images/vision.png" id="vision-modal-image" >
                        </div>
                        <div class="description">
                            <h2 class='modal-description-title' >Details</h2>
                            <ul>
                                <li>
                                    Application to assist user in creating a social media post. Get relevant keywords and terms from an image for generating SEO / Hashtags.
                                </li>
                                <p>Design</p>
                                <li>
                                    Create a single page application which utilizes Google Vision to return relevant keywords of an image
                                    Upload image to Google Vision API
                                    Return relevant image entities
                                    Search synonyms and definition from a relevant entity
                                    Users can copy selected SEO / Hashtags to clipboard
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="actions">
                        <div class="centered column">
                            <a target="_blank" href="https://github.com/Ryanh899/project-1.git" >
                                <div class="ui primary button modalButton">View</div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- books card  -->
                <div class="five wide computer sixteen wide mobile column">
                    <div class="ui fluid card" id="books-card" >
                        <div class="image">
                            <img id="books-image" src="/images/books.ico">
                        </div>
                    </div>
                </div>
                <!-- books modal  -->
                <div class="ui modal books">
                    <i class="close icon"></i>
                    <div class="header">
                        Book Search
                    </div>
                    <div class="image content">
                        <div class="image">
                            <img src="/images/books.ico" id="vision-modal-image" >
                        </div>
                        <div class="description">
                            <h2 class='modal-description-title' >Details</h2>
                            <ul>
                                <li>
                                    Search for a book by Title, Author, or Genre and then save the books you want to our library. 
                                </li>
                                <li>
                                    Created with React, Material UI, Express.js, Node.js, MongoDB, Mongoose, Google Books API. 
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="actions">
                        <div class="centered column">
                            <a target="_blank" href="https://frightful-vampire-68399.herokuapp.com/" >
                                <div class="ui primary button modalButton">View</div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- brew card  -->
                <div class="five wide computer sixteen wide mobile column">
                    <div class="ui fluid card" id="brew-card" >
                        <div class="image">
                            <img src="/images/beer.png">
                        </div>
                    </div>
                </div>
                <!-- brew modal  -->
                <div class="ui modal brew">
                    <i class="close icon"></i>
                    <div class="header">
                        Brew
                    </div>
                    <div class="image content">
                        <div class="image">
                            <img src="/images/beer.png" id="brew-modal-image" >
                        </div>
                        <div class="description">
                            <h2 class='modal-description-title' >Details</h2>
                            <ul>
                                <li>
                                    Get the best deals on your favorite beer at your favorite spots! 
                                </li>
                                <li>
                                    Consists of a Web Business Portal and REST API made with React, React Router, Node.js, Express.js, PostgreSQL, Knex, Material UI, and AWS as well as a mobile application using React Native Cli and axios.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="actions">
                        <div class="ui grid">
                            <div class="centered eight wide column">
                                <a target="_blank" href="https://github.com/Ryanh899/brew-web" >
                                    <div class="ui primary button brewModalButton">View Web App</div>
                                </a>
                            </div>
                            <div class="centered eight wide column">
                                <a target="_blank" href="https://github.com/ericmackensen/Brew" >
                                    <div class="ui primary button brewModalButton">View Mobile App</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        <!-- skills section  -->
        <div class="row" id="skills-section">
            <div class="ui grid container" id="skills-overlay-container">
                <div class="middle aligned row">
                    <div class="sixteen wide column">
                        <h1 id="skills-title" >Skills</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="sixteen wide column">
                        <div class="ui secondary inverted pointing menu"  >
                            <a class="item active" data-tab="first" >
                                <h3 class="skills-menu-text" >Languages</h3>
                            </a>
                            <a class="item " data-tab="second">
                                <h3 class="skills-menu-text" >Back-end Frameworks</h3>
                            </a>
                            <a class="item" data-tab="third">
                                <h3 class="skills-menu-text" >Front-end Frameworks</h3>
                            </a>
                            <a class="item " data-tab="fourth">
                                <h3 class="skills-menu-text" >Front-end Libraries</h3>
                            </a>
                            <a class="item " data-tab="fifth">
                                <h3 class="skills-menu-text" >Databases</h3>
                            </a>
                            <a class="item " data-tab="sixth">
                                <h3 class="skills-menu-text" >Misc.</h3>
                            </a>
                        </div>
                        <div class="ui tab item active" data-tab="first">
                            <div class="ui grid container">
                                <div class="four column row">
                                    <div class="four wide column">
                                        <div class="fluid image">
                                            <img class="skills-icons" src="https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582748_960_720.png"  >
                                        </div>
                                    </div>
                                    <div class="four wide centered column">
                                        <div class="fluid image">
                                            <img class="skills-icons" src="https://3.bp.blogspot.com/-oRSUw_TmO9o/XIb61m88fcI/AAAAAAAAIq0/vnxl2zzsXEQsnHI2fH4GjKu_ZT0urRo4wCK4BGAYYCw/s1600/icon%2Bcss%2B3.png"  >
                                        </div>
                                    </div>
                                    <div class="four wide column">
                                        <div class="fluid image">
                                            <img class="skills-icons" src="http://pluspng.com/img-png/logo-javascript-png-html-code-allows-to-embed-javascript-logo-in-your-website-587.png"  >
                                        </div>
                                    </div>
                                    <div class="four wide column">
                                        <div class="fluid image">
                                            <img class="skills-icons" src="https://camo.githubusercontent.com/0617f4657fef12e8d16db45b8d73def73144b09f/68747470733a2f2f646576656c6f7065722e6665646f726170726f6a6563742e6f72672f7374617469632f6c6f676f2f6373686172702e706e67"  >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui tab item " data-tab="second">
                            <div class="ui grid container">
                                <div class="two column middle aligned row">
                                    <div class="five wide middle aligned column">
                                        <div class="fluid image">
                                            <img class="skills-icons" src="http://pluspng.com/img-png/nodejs-png-node-js-on-light-background-1843.png"  >
                                        </div>
                                    </div>
                                    <div class="eleven wide centered middle aligned column">
                                        <div class="text" id="express">
                                            + Express
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui tab item" data-tab="third">
                            <div class="ui grid container">
                                <div class="centered row">
                                    <div class="five wide middle aligned column">
                                        <div class="fluid image">
                                            <img class="skills-icons" src="/images/react.png"  >
                                        </div>
                                    </div>
                                    <div class="five wide middle aligned column">
                                        <div class="fluid image">
                                            <img class="skills-icons" src="https://kaysharbor.com/wp-content/uploads/2018/05/all-about-react-native-apps-776x415.png"  >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui tab item " data-tab="fourth">
                            <div class="ui grid container">
                                <div class="four column row">
                                    <div class="four wide column">
                                        <div class="fluid image">
                                            <img class="skills-icons" src="http://pluspng.com/img-png/jquery-logo-png--512.png"  >
                                        </div>
                                    </div>
                                    <div class="four wide centered column">
                                        <div class="fluid image">
                                            <img class="skills-icons" src="http://pluspng.com/img-png/bootstrap-png-bootstrap-512.png"  >
                                        </div>
                                    </div>
                                    <div class="four wide column">
                                        <div class="fluid image">
                                            <img class="skills-icons" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/6f/Lodash.svg/1200px-Lodash.svg.png"  >
                                        </div>
                                    </div>
                                    <div class="four wide column">
                                        <div class="fluid image">
                                            <img class="skills-icons" src="https://www.stickpng.com/assets/images/58482f0ecef1014c0b5e4a7a.png"  >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui tab item " data-tab="fifth">
                            <div class="ui grid container">
                                <div class="four column row">
                                    <div class="five wide column">
                                        <div class="fluid image">
                                            <img class="skills-icons" src="http://pngimg.com/uploads/mysql/mysql_PNG1.png"  >
                                        </div>
                                    </div>
                                    <div class="five wide centered column">
                                        <div class="fluid image">
                                            <img class="skills-icons" src="https://www.stickpng.com/assets/images/584815fdcef1014c0b5e497a.png"  >
                                        </div>
                                    </div>
                                    <div class="five wide column">
                                        <div class="fluid image">
                                            <img class="skills-icons" src="https://i.dlpng.com/static/png/468328_preview.png"  >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui tab item" data-tab="sixth">
                            <div class="ui grid container">
                                <div class="four column row">
                                    <div class="five wide column">
                                        <div class="fluid image">
                                            <img class="skills-icons" src="https://git-scm.com/images/logos/downloads/Git-Logo-2Color.png"  >
                                        </div>
                                    </div>
                                    <div class="five wide centered column">
                                        <div class="fluid image">
                                            <img class="skills-icons" src="https://image.flaticon.com/icons/svg/25/25231.svg"  >
                                        </div>
                                    </div>
                                    <div class="five wide column">
                                        <div class="fluid image">
                                            <img class="skills-icons" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Visual_Studio_Code_1.35_icon.svg/1200px-Visual_Studio_Code_1.35_icon.svg.png"  >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/animations.js"></script>
</body>

</html>